# replace the variables below with your Neon Auth URL, Neon Data API URL displayed in the Neon Console, 
# and use an email address that you own and a new, strong password
NEON_AUTH_URL="https://ep-steep-wind-secret.neonauth.c-2.eu-central-1.aws.neon.tech/neondb/auth"
NEON_DATA_API_URL="https://ep-steep-wind-secret.apirest.c-2.eu-central-1.aws.neon.tech/neondb/rest/v1/"
USER_EMAIL="eingriffe_lerche.1v@icloud.com"
USER_PASSWORD="yourverystrongpassword"
USER_NAME="bodobolero"